generate_video/outputs/checkpoints/lwb_imper/net_epoch_30_id_G.pth
generate_video/outputs/checkpoints/lwb_imper_fashion_place/net_epoch_30_id_G.pth
generate_video/outputs/checkpoints/lwb_imper_place/net_epoch_30_id_G.pth
generate_video/assets/pretrains/hmr_tf2pt.pth
generate_video/assets/pretrains/sphere20a_20171020.pth

__pycache__

.vscode

demo/results/*
demo/src/*
demo/transfer_data/*

!.gitkeep